*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: "Microsoft YaHei",sans-serif;
}
.nav ul, .nav li{
    list-style: none;
}


/* 导航栏 */
.nav{
    width: 900px;
    height: 138px;
    margin: 0 auto;
}
/* 顶部 */
.nav .top{
    width: 900px;
    height: 64px;
    background-color: #fff;
}
.nav .top div{
    float: right;
    width: 30px;
    height: 30px;
    margin: 17px 10px;
}
.nav .top .title{
    float: left;
    width: 60px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
}
.nav .top .search{
    background: url(images/top/search.png) no-repeat center;
    background-size: 25px 25px;
}
.nav .top .document {
    background: url(images/top/document.png) no-repeat center;
    background-size: 25px 25px;
}
.nav .top .update {
    background: url(images/top/update.png) no-repeat center;
    background-size: 25px 25px;
}
.nav .top .function {
    background: url(images/top/function.png) no-repeat center;
    background-size: 25px 25px;
}
.nav .top .user {
    background: url(images/top/user.png) no-repeat center;
    border-radius: 10px;
    background-size: 30px 30px;
}
/* 下拉菜单栏 */
.nav .list{
    width: 900px;
    height: 74px;
}
.nav .list .group{
    float: left;
    width: 300px;
    height: auto;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    overflow: hidden;
}
.nav .list .group>div{
    position: relative;
    width: 290px;
    height: 64px;
    line-height: 45px;
    margin: 5px 5px;
    padding-left: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.nav .list .new{
    background: url(images/list/new.png) no-repeat center left 12px;
    background-size: 30px 30px;
}
.nav .list .upload {
    background: url(images/list/upload.png) no-repeat center left 12px;
    background-size: 30px 30px;
}
.nav .list .library {
    background: url(images/list/library.png) no-repeat center left 12px;
    background-size: 30px 30px;
}
.nav .list .group .tip {
    position: absolute;
    bottom: 0%;
    margin-bottom: 8px;
    width: 290px;
    height: 20px;
    line-height: 20px;
    color: rgb(152, 157, 165);
    font-size: 14px;
}
.nav .list .group .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top:-10px;
    right: 10px;
    background-image: url(images/list/arrowdown.png);
    background-size: 20px 20px;
    transition: all 0.1s;
}
/* 下拉菜单 */
.nav .list .group .list1{
    width: 290px;
    height: auto;
    overflow: hidden;
    margin: 5px 5px;
    padding: 0%;
    border: 1px solid #ccc;
    border-radius: 6px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.nav .list .group .list1 li {
    width: 290px;
    height: 40px;
    line-height: 40px;
    margin: 0px 5px;
    padding-left: 40px;
    /* border: 1px solid #000000; */
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
}
.nav .list .group .list1 li:hover{
    background-color: #bed7fb;
}
.nav .list .group .list1 div{
    width: 290px;
    height: 40px;
    line-height: 40px;
    margin: 0px 5px;
    padding-left: 10px;
    font-size: 16px;
    color: rgb(152,157,165);
}
.nav .list .group .list1 .fenge{
    border-bottom: 1px solid #ccc;
}



